# **Rastgele Veri Üretme**

In [1]:
#Her çalıştırıldığında farklı sıralama yapan kodumuz
sample(1:10)

 [1]  2  9  5  6  8  4 10  1  3  7

In [12]:
#1 den 49 ye kadar olan sayılardan her seferinde 6 farklı sayı oluşturmak için, sayısal loto oynamak için:)
sample(1:49,6)

[1] 48  9 42 45 18 39

In [26]:
#Aynı eleman tekrar edebilir dersek zar atmak gibi
sample(1:6,2,replace=TRUE)

[1] 4 1

In [32]:
#Örneklemin birseçilme olasılığına göre yeniden sıralanması için
sayılar=1:10
secilme=c(1,3,5,7,9,9,8,6,4,2)
sample(sayılar,prob = secilme)

 [1]  3  5  7  8  9  6  4 10  2  1

In [40]:
#istediğimiz sayıda istediğimiz ortalama ve standart sapmada değer üretmek için
#10 tane  ortalaması 50 standart sapması 2 olan sayı üretecek.Normal dağılım gösterecek
uret=rnorm(10,mean = 50,sd = 15)
uret

 [1] 53.82533 60.30835 56.15666 44.94790 26.95275 36.98542 47.00534 51.86570
 [9] 54.29184 44.53524

In [42]:
#uniform değer üretmek için
#20 tane uniform değer
uni= runif(20)
uni

 [1] 0.28596831 0.11413834 0.49257522 0.97441849 0.63192435 0.16399040
 [7] 0.68822528 0.85508725 0.16020381 0.89500662 0.74758564 0.47065196
[13] 0.44087183 0.46208344 0.51791965 0.02176959 0.87640403 0.88067319
[19] 0.70644409 0.48054023

In [44]:
#Serbestlik Derecesi 5 olan ki kare dağılımdan 50 değer üretmek için

kikare= rchisq(50,5)
kikare

 [1]  3.644540 11.825170 11.929063  1.522998  4.635336  5.911499 10.351371
 [8]  3.905762  8.717363  4.103277  3.767495 12.241902  3.131513  6.161203
[15]  6.556023  3.246313  3.382771  9.262262  9.863022  8.716345  6.290516
[22]  1.991349  1.532814  1.131864  3.156935  6.724015  5.557185  1.572861
[29]  6.588683  6.720614  6.918505  8.363780  3.395720 12.906867  3.822651
[36]  5.993701  4.382366  4.357930  4.520270  5.752172  5.004059  1.890682
[43]  3.637446  3.050946  6.890731  8.405195  2.701321  4.264032  2.585801
[50]  5.989189

In [45]:
#Default olarak ortalamaso 0 standart sapması 1 olan istediğimiz sayıda normal dağılım gösteren sayı oluşturmak için

veri= rnorm(20)

In [48]:
#Her seferinde farklı değerler oluşturmasın istersek, yada istediğimiz sayıda farklı değer üretsin dersek set.seed() ayarıyla yapabiliriz.
set.seed(1)
x=rnorm(10)
x

 [1] -0.6264538  0.1836433 -0.8356286  1.5952808  0.3295078 -0.8204684
 [7]  0.4874291  0.7383247  0.5757814 -0.3053884

# **Döngüler ve Karar Yapısı**

Döngüler, programlama dillerinde sıklıkla kullanılan akış kontrolü (flow control) mekanizmasının bir parçasıdır. R’da döngüler for(), while() ve repeat() fonksiyonları ile çalıştırılır.

In [50]:
#Listedeki sayıların karesini yazdıralım.
sayılar = c(2,3,5,7,8,12)

for (i in sayılar) {
  print(i^2)
}

[1] 4
[1] 9
[1] 25
[1] 49
[1] 64
[1] 144

In [51]:
#Bir Listenin elemanlarını yazdırmak için
liste <- list(1:6, letters[1:4], c("AA", "BA", "BB", "CB", "CC"))
liste

[[1]]
[1] 1 2 3 4 5 6

[[2]]
[1] "a" "b" "c" "d"

[[3]]
[1] "AA" "BA" "BB" "CB" "CC"

In [55]:
# 6 satırdan 3 sütundan oluşan bir data frame oluşturalım
yeniVeri <- data.frame(S1 = c(1, 3, 5, 7, 9, 11),
                       S2 = rep(1:3, 2),
                       S3 = seq(from = 1, to = 20, length.out = 6))
yeniVeri

  S1 S2 S3
1  1 1   1.0
2  3 2   4.8
3  5 3   8.6
4  7 1  12.4
5  9 2  16.2
6 11 3  20.0

In [56]:
# Bu data frame'e yeni bir sütun (S4) eklensin ve bu sütunda ilk üç sütundaki değerlerin toplamı gösterilsin
for (i in 1:6) {
  yeniVeri$S4[i] <- yeniVeri$S1[i] + yeniVeri$S2[i] + yeniVeri$S3[i]

}
yeniVeri

  S1 S2 S3   S4
1  1 1   1.0  3.0
2  3 2   4.8  9.8
3  5 3   8.6 16.6
4  7 1  12.4 20.4
5  9 2  16.2 27.2
6 11 3  20.0 34.0

In [57]:
# aynı işlemi yaparken i indeksinin 1 ile 6 arasında dönmesi ile 1 ile nrow(yeniVeri) arasında dönmesi aynı anlama gelmektedir.
#Çünkü nrow() fonksiyonu içindeki data frame'in satır sayısını vermektedir
yeniVeri <- data.frame(S1 = c(1, 3, 5, 7, 9, 11),
                       S2 = rep(1:3, 2),
                       S3 = seq(from = 1, to = 20, length.out = 6))

for (i in 1:nrow(yeniVeri)) {
  yeniVeri$S4[i] <- yeniVeri$S1[i] + yeniVeri$S2[i] + yeniVeri$S3[i]
}
yeniVeri

  S1 S2 S3   S4
1  1 1   1.0  3.0
2  3 2   4.8  9.8
3  5 3   8.6 16.6
4  7 1  12.4 20.4
5  9 2  16.2 27.2
6 11 3  20.0 34.0

In [58]:
# for döngüsü kullanılmadan satırlardaki ya da sütunlardaki değerleri toplamak mümkündür. Benzer şekilde satırlardaki/sütunlardaki değerlerin çarpımı, ortalamasının, standart sapmasının alınması gibi pek çok işlem için R'da özel fonksiyonlar bulunmaktadır
yeniVeri$S4 <- rowSums(yeniVeri)
yeniVeri

  S1 S2 S3   S4
1  1 1   1.0  6.0
2  3 2   4.8 19.6
3  5 3   8.6 33.2
4  7 1  12.4 40.8
5  9 2  16.2 54.4
6 11 3  20.0 68.0

In [61]:
# 9 satırdan 3 sütundan oluşan bir data frame oluşturalım
# not: seq_len() ve seq.int() fonksiyonlarını ayrı ayrı çalıştırarak nasıl birer vektör oluşturduklarını inceleyiniz.
yeniVeri2 <- data.frame(S1 = seq_len(9),
                        S2 = seq.int(-4, 4),
                        S3 = c(-1, 1, 1, -1, 1, -2, 2, 1, -1)^2)
yeniVeri2

  S1 S2 S3
1 1  -4 1
2 2  -3 1
3 3  -2 1
4 4  -1 1
5 5   0 1
6 6   1 4
7 7   2 4
8 8   3 1
9 9   4 1

In [ ]:
# j indeksinin 1 ile 6 arasında dönmesi ile 1 ile ncol(yeniVeri2) arasında dönmesi aynı anlama gelmektedir.
#Çünkü ncol() fonksiyonu içindeki data frame'in sütun sayısını vermektedir
for (j in 1:ncol(yeniVeri2)) {
  yeniVeri2[, 3+j] <- yeniVeri2[, j]^2
}

yeniVeri2

In [62]:
# üç farklı test verisinin matris şeklinde oluşturulması
test_verisi_1 <- matrix(sample(c(1, 0), replace = TRUE, size = 50, prob = c(.40, .60)), 5, 10)
test_verisi_2 <- matrix(sample(c(1, 0), replace = TRUE, size = 50, prob = c(.50, .50)), 10, 10)
test_verisi_3 <- matrix(sample(c(1, 0), replace = TRUE, size = 50, prob = c(.50, .50)), 15, 10)

# üç farklı test verisinin bir listeye alınması
test_verisi <- list(test_verisi_1, test_verisi_2, test_verisi_3)

In [63]:
matrisA <- round(matrix(runif(10, min = -2, max = 2), nrow = 5), 2)
matrisA

     [,1]  [,2]
[1,] -1.72  0.25
[2,]  0.81  1.71
[3,]  0.80 -1.08
[4,] -0.14 -1.11
[5,] -0.25 -0.32

In [64]:
for(i in 1:nrow(matrisA)) {
  for(j in 1:ncol(matrisA)) {
    print(paste("Her a için", "i =", i, "ve", "j =", j, "iken", "değer", matrisA[i, j]))
  }
  }

[1] "Her a için i = 1 ve j = 1 iken değer -1.72"
[1] "Her a için i = 1 ve j = 2 iken değer 0.25"
[1] "Her a için i = 2 ve j = 1 iken değer 0.81"
[1] "Her a için i = 2 ve j = 2 iken değer 1.71"
[1] "Her a için i = 3 ve j = 1 iken değer 0.8"
[1] "Her a için i = 3 ve j = 2 iken değer -1.08"
[1] "Her a için i = 4 ve j = 1 iken değer -0.14"
[1] "Her a için i = 4 ve j = 2 iken değer -1.11"
[1] "Her a için i = 5 ve j = 1 iken değer -0.25"
[1] "Her a için i = 5 ve j = 2 iken değer -0.32"

# **while Döngüsü**

for() döngülerinde tekrar sayısı vektörün eleman sayısı kadar iken while() döngülerinde döngü sayısı için bir ifade bulunmaz. while() döngüsü if() durum cümlesinde olduğu gibi verilen bir koşulun yanlış (FALSE) olduğu zamana kadar çalışır.

In [ ]:
sifir = 0
while (sifir < 5) {
  print(sifir)
  sifir = sifir + 1
  }

In [69]:
#Break komutu döngüyü istenilen aşamada durdurmaya yarar.
i=1
while (TRUE){
  i=i+1
  print(i)
  if(i>10)
  break
}

[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11

# **Koşul İfadeleri**

**if() Koşul İfadesi**

if() koşul ifadesi hemen hemen tüm programlama dillerinde mevcuttur ve oldukça önemlidir. Bu bir fonksiyon olarak düşünülebilir ve bu fonksiyonda koşullu bir ifade bir ölçüt ile karşılaştırılarak test edilir ve koşullu ifadenin gerçekleşmesi durumunda (TRUE) elde edilecek çıktı belirlenebilir.

In [ ]:
deger <- 175
if (deger >= 160) {
print("Yeterli")
}

**else() Koşul İfadesi**

if() ve else() koşul ifadelerinde bir koşullu önermenin iki farklı alternatifi (TRUE ya da FALSE) üzerinde durulmaktadır. Ancak, olası durum çıktılarının ikiden fazla olması da söz konusu olabilir. Bu durumda else if() koşul ifadesi kullanılabilir.

In [ ]:
p1 <- 0.37
if(p1 >= 0.80) {
  print("Çok Kolay")
} else if(p1 >= 0.60) {
    print("Kolay")
} else if(p1 >= 0.40) {
    print("Orta")
} else if(p1 >= 0.20) {
  print("Zor")
} else if(p1 >= 0.00) {
  print("Çok Zor")
  }

**ifelse() Koşul İfadesi**

if() koşul ifadeleri vektörlerde kullanılamaz. Yukarıdaki örneğe benzer şekilde, birden fazla madde (soru) için madde güçlük indeksleri verildiğinde her biri için yorum yapmak istendiğinde ifelse() fonksiyonu kullanılabilir.

ifelse() koşul ifadesinin genel kullanımı şu şekildedir: ifelse(koşul, doğru ifade, yanlış ifade).

In [70]:
deger = 173
ifelse(deger >= 175, "Yeterli", "Yetersiz")

[1] "Yetersiz"

In [71]:
degerler <- c(173, 170, 181, 189, 190, 191, 180, 171, 163, 166)
ifelse(degerler >= 175, "Yeterli", "Yetersiz")

 [1] "Yetersiz" "Yetersiz" "Yeterli"  "Yeterli"  "Yeterli"  "Yeterli"
 [7] "Yeterli"  "Yetersiz" "Yetersiz" "Yetersiz"

In [73]:
# örneğin ifelse() ile bir veri setindeki 99 değerleri yerine NA girilebilir. Kayıp değer atamak için kullanılır.
yeniveri = c(2, 2, 2, 1, 1, 99, 1, 2)
yeniveri2 = ifelse(yeniveri > 2, NA, yeniveri)
yeniveri2

[1]  2  2  2  1  1 NA  1  2

In [74]:
ornekData = data.frame(no = c (1:5),
                        isim = c("Kaan","Ata","Yamaç","Okan","Serhat"),
                        maas = c(12000, 17000, 160000, 21000, 8500))
ornekData2 = ornekData
ornekData2$maas <- ifelse(ornekData$maas >= 50000, "hatali giris", ornekData$maas)
ornekData3 <- data.frame(ornekData$no, ornekData$isim, ornekData2$maas)
ornekData3

  ornekData.no ornekData.isim ornekData2.maas
1 1            Kaan           12000
2 2            Ata            17000
3 3            Yamaç          hatali giris
4 4            Okan           21000
5 5            Serhat         8500

In [75]:
#Sütun ismi atadık
colnames(ornekData3) <- c("No", "Ad", "Maas")
ornekData3

  No Ad     Maas
1 1  Kaan   12000
2 2  Ata    17000
3 3  Yamaç  hatali giris
4 4  Okan   21000
5 5  Serhat 8500