# **Data Frame**

R’da data frame’ler data.frame() fonksiyonu ile oluşturulabilir. R’a farklı programlardan aktarılan veriler genelde data frame olarak kaydedilir. Bu data frame’ler matrislere çok benzer, ancak data frame’lerde farklı sütunlarda yer alan veriler farklı türlerde olabilir. Matrislerde tüm veriler aynı tür olmak zorundadır. Data frame kavramı farklı kaynaklarda veri seti ya da veri çerçevesi olarak çevrilmiştir.

In [1]:
# süper lig 2022-2023 sezonunun sonuç tablosundaki ilk 6 takımdan oluşan data frame'i oluşturalım
takim <- c("galatasaray", "fenerbahce", "besiktas", "adana demirspor", "basaksehir", "trabzonspor")
gol <- c(83, 87, 78, 76, 54, 64)
puan <- c(88, 80, 78, 69, 62, 57)

dataFrame1 <- data.frame(takim, gol, puan)
dataFrame1

  takim           gol puan
1 galatasaray     83  88
2 fenerbahce      87  80
3 besiktas        78  78
4 adana demirspor 76  69
5 basaksehir      54  62
6 trabzonspor     64  57

In [4]:
#Uzunlukları farklı olan vektörlerle data frame oluşturmaya çalışılırsa, kısa vektör uzun vektör uzunluğunda tekrar edecektir. Uzun vektörün uzunluğu kısa vektörün uzunluğunun bir katı değilse hata mesajı alınacaktır.
x <- 100:103
y <- 10
M <- c(10, 11)
N <- c(4, 5, 6)

# x dört; y ise bir elemanlıdır
data.frame(x, y)

  x   y
1 100 10
2 101 10
3 102 10
4 103 10

In [6]:
#iris veri seti, R’daki en meşhur veri setlerinden biridir. Sıklıkla veri görselleştirmenin ya da sınıflamanın gösterilmesi amacıyla kullanılmaktadır. Veriler, İngiliz istatistikçi ve biyolog Ronald Fisher tarafından toplanmıştır.
#Veri setinin ilk 10 satırı şu şekilde incelenebilir:
data(iris)
head(iris, 10)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa